.btn1{
  background-color: #e74c3c;
}
.btn2{
    background-color: #3498db;
}
.btn3{
    background-color: #2ecc71;
}
.btn4{
    background-color: #9b59b6;
}
.btn5{
    background-color: #f1c40f;
}